
body { overflow-x: hidden;

    #background-container { 
        position: flex;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow-y: hidden;
    }

    #background {
       position: absolute;
       min-width: 100%; 
       min-height: 100%; 
       width: auto;
       height: auto;
       top: 50%;
       left: 50%;
       z-index: -100;
       background-size: cover;
       transform: translate(-50%,-50%);
       opacity: 0.6;
    }
    #greetings {
        margin-right: 35%;
        margin-left: 3%;
        padding-left: 2%;
    }
    h1 {
        /* scales width of the viewport */
        font-size: 3vw; 
        
        color: #000;
        
    }
    #name-tag {
        
        width: 45vw;
        

    }
    h2 {
            font-size: 2vw;
            color: #000;     
    }

    #emoji {
        margin-top: -40%;
        margin-left: 60%;

    }
}